
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag('/search') do%>
      <div class="form-inline">
        <%= text_field_tag 'keyword', params[:keyword]%><%= submit_tag "Search",class: "btn btn-primary"%>  
      </div>
      
      <label class="radio-inline"><%= radio_button_tag :object,  "zim",params[:object] %>Zim</label> 
      <label class="radio-inline"><%= radio_button_tag :object,  "people",params[:object] %>People</label>
      
      <div>
        <%= submit_tag "Search",class: "btn btn-primary"%>  
      </div>
    <% end %>  
   </div>
</div>      


