<p id="notice"><%= notice %></p>
<h1>Listing Zims</h1>


<table>
<% @zims.each do |zim| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <%= image_tag(zim.image_url, class: 'list_image') %>
    </td>
    <td class="list_description">
      <dl>
        <dt><%= zim.name %></dt>
        <dd><%= truncate(strip_tags(zim.description), length: 80) %></dd>
      </dl>
    </td>
    <td class="list_actions">
      <%= link_to 'Show', zim %><br/>
      <%= button_to 'Subscirbe', subscriptions_path(zim_id: zim.id) %><br/>
    </td>
  </tr>
<% end %>
</table>



