<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zim.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @zim.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @zim.image_url %>
</p>

<p>
  <strong>Publicity:</strong>
  <%= @zim.publicity %>
</p>

<%= link_to 'Edit', edit_zim_path(@zim) %> |
<%= link_to 'Back', zims_path %>
