
<table>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <%= image_tag(@response[:image_url], class: 'list_image') %>
    </td>
    <td class="list_description">
      <dl>
        <dt><%= @response[:name] %></dt>
        <dd><%= @response[:num_members] %>Members <%= @response[:num_posts] %>Posts <%= @response[:publicity]%>
        <dd><%= truncate(strip_tags(@response[:description]), length: 80) %></dd>
      </dl>
    </td>
  </tr>
</table>
